.cell {
  box-sizing: border-box;
  box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff,
    0 0 1rem var(--neon-border-color), inset 0 0 1rem var(--neon-border-color);
  font-size: 4rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgb(6, 11, 15);
}

.cell svg {
  height: 85%;
  filter: blur(1px);
  animation: flickering 10s infinite;
}

@keyframes flickering {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    opacity: 1;
  }

  20%,
  24%,
  55% {
    opacity: 0.8;
  }
}
