.wrapper {
  display: flex;
  flex-direction: column;
}

.board {
  width: 30vw;
  height: 30vw;
  display: grid;
  box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff,
    0 0 1rem var(--neon-border-color), inset 0 0 1rem var(--neon-border-color);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-self: center;
  box-sizing: border-box;
  grid-gap: 1px;
  background-color: var(--neon-border-color);
}

@media screen and (max-width: 575px) {
  .board {
    width: 50vw;
    height: 50vw;
  }
}

@media screen and (max-width: 575px) and (orientation: landscape) {
  .board {
    width: 29vw;
    height: 29vw;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .board {
    width: 45vw;
    height: 45vw;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) and (orientation: landscape) {
  .board {
    width: 32vw;
    height: 32vw;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .board {
    width: 42vw;
    height: 42vw;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: landscape) {
  .board {
    width: 33vw;
    height: 33vw;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .board {
    width: 40vw;
    height: 40vw;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) and (orientation: landscape) {
  .board {
    width: 35vw;
    height: 35vw;
  }
}
